{% extends 'base.html.twig' %}

{% block title %}donatielijst {{ data.environment.name }}{% endblock %}

{% block body %}
    <div class="row ">
        <h2 class="text-center">
            donatielijst voor {{ data.environment.name }}
            <a href="{{ path('app_admin_product_list', {environmentId: data.environment.id}) }}" class="btn btn-primary float-end" style="width: 7rem">Terug</a>
        </h2>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="table-active">
                    <th scope="col" class="text-center">Volledige naam</th>
                    <th scope="col" class="text-center">Donatie</th>
                </tr>
            </thead>
            <tbody>
                {% if data.donators is empty %}
                    <td colspan="2" class="text-center">Nog geen donaties</td>
                {% else %}
                    {% for donator in data.donators %}
                        <tr>
                            <td>{{ donator.name }} {{ donator.surname }}</td>
                            <td>{{ donator.donation }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
